<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IService1">
                  <security mode="Transport">
                    <transport clientCredentialType="Basic"></transport>
                  </security>
                </binding>                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://waytooawesome/WcfAuth/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
                contract="WcfAuthBridge.IService1" name="BasicHttpsBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>