<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloWorldSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:17692/HelloWorld.asmx" binding="basicHttpBinding"
                bindingConfiguration="HelloWorldSoap" contract="HelloWorldBridge.HelloWorldSoap"
                name="HelloWorldSoap" />
        </client>
    </system.serviceModel>
</configuration>